BasedOnStyle: WebKit
IndentWidth: 4
TabWidth: 4
ColumnLimit: 100
PointerAlignment: Left

AlignTrailingComments: true
AlignOperands: true
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlinesLeft: true

BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: None
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: Always
AllowShortEnumsOnASingleLine: false

SortIncludes: false
